<%= form_with model: question do |form| %>
  <%= form.hidden_field :user_id %>
  
  <p><%= form.label :body, "Тект вопроса" %></p>
  <p><%= form.text_area :body, rows: 5, class: "form-text-area" %></p>
  
  <div class="mt">
    <p><%= form.submit "Сохранить", class: 'button button-main' %> или
    <%= link_to "вернуться", :back %></p>
  </div>
<% end %>
